.review-card {
    background: #111;
    border: 1px solid #1e1e1e;
    border-radius: 10px;
    padding: 24px;
    cursor: pointer;
    transition: border-color 0.2s;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: all 0.3s ease;
}

.review-card:hover {
    border-color: #e8b84b;
    box-shadow: #111 0px 0px 10px 3px;
}

.review-card-header {
    display: flex;
    gap: 16px;
    margin-bottom: 16px;
}

.review-card-poster {
    width: 56px;
    height: 80px;
    object-fit: cover;
    border-radius: 6px;
    flex-shrink: 0;
}

.review-card-title {
    font-family: 'Playfair Display', Georgia, serif;
    font-size: 17px;
    font-weight: 700;
    color: #e8e2d9;
    margin-bottom: 6px;
    line-height: 1.3;
}

.review-card-excerpt {
    font-size: clamp(5px, 6vw, 14px);
    line-height: 1.75;
    color: #a09890;
    font-style: italic;
    font-family: 'Playfair Display', Georgia, serif;
    font-weight: 400;
    margin-bottom: 16px;
    max-width: 140ch;
    max-height: 100px;
    overflow: hidden;
}

.text-wrapper {
    display: flex;
    align-items: flex-end;
}

.ellipsis {
    font-size: 20px;
    letter-spacing: 3px;
    transform: translateY(-17px);
}

.review-card-meta {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    color: #555;
}

.review-card-author {
    color: #7a7068;
}

.review-card-date {
    color: #555;
}

@media(max-width: 400px) {
    .review-card {
        padding: 10px;
    }

    .review-card-meta {
        flex-direction: column;
    }
}

@media(max-width: 240px) {
    .review-card {
        margin-bottom: 10px;
    }

    .review-card-header {
        flex-direction: column;
        align-items: center;
    }

    .review-card-excerpt {
        max-height: 200px;
    }
}