.loading {
    padding: 15px;
    border: 4px solid rgb(97, 72, 8);
    background-color: rgba(232, 185, 75, 0.906);
    color: rgb(97, 72, 8);
    font-size: 70px;
    position: absolute;
    font-weight: 900;
    top: 40%;
    left: 40%;
    z-index: 100;
    border-radius: 15px;
    animation: loading 3s linear infinite;
}

@keyframes loading {
    0% {
        background-color: rgba(232, 185, 75, 0.925);
    }

    25% {
        background-color: rgba(232, 185, 75, 0.725);
    }

    50% {
        background-color: rgba(232, 185, 75, 0.525);
    }

    75% {
        background-color: rgba(232, 185, 75, 0.725);
    }

    100% {
        background-color: rgba(232, 185, 75, 0.925);
    }
}

.loading-dot1 {
    animation: loading-dot1 2s ease-in-out infinite;
}

.loading-dot2 {
    animation: loading-dot2 2s ease-in-out infinite;
}

.loading-dot3 {
    animation: loading-dot3 2s ease-in-out infinite;
}

@keyframes loading-dot1 {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes loading-dot2 {
    0% {
        opacity: 1;
    }

    75% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes loading-dot3 {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}